

.Mini-img {
    background-repeat: no-repeat;
    animation: MiniDemon-animation 1s steps(4) infinite;
    position: absolute;
    background-position: 0 -48px;
    
    
}



@keyframes MiniDemon-animation {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 192px;
    }
}