

.hero-img {
    background-repeat: no-repeat;
    animation: hero-animation 1s steps(4) infinite;
    position: absolute;
    background-position: 0  -38px;
    
    
}



@keyframes hero-animation {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -192px;
    }
}